# .git mappa tiltása
RedirectMatch 404 /\.git

# Kényes fájlok tiltása
<FilesMatch "^(config\.php|\.env|\.gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>

AuthType Basic
AuthName "Belépés szükséges"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user
